@charset "UTF-8";

:root{
    --color-body-01: #F0F0F0;
    --color-body-02: ;
}

body{
    background-color: var(--color-body-01);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}