@charset "UTF-8";


:root{
    --color-main-01: #154379;
    --color-main-02: #34A0E7;
    --color-main-03: #51A436;
    --color-main-04: #ffffff;
    --color-main-05: #151515;
    --color-main-06: #adadad;
}

main{
    margin: 0 .5rem;
}

.news{
    list-style: none;
    margin: 1rem;
    margin-top: 2rem;
    padding: 0;
}

.data-news{
    display: grid;
    grid-template-columns: 152px 1fr;
    gap: 1rem;
}

.data-news .infos{
    padding: .25rem;
}
.image{
    width: 152px;
    height: 100px;
    object-fit: cover;
    border-radius: .5rem;
}

.author{
    background-color: var(--color-main-02);
    font-size: .75rem;
    padding: .25rem;
    border-radius: .25rem;
}

h3{
    margin: 0;
    margin-top: .675rem;
    font-size: 1.1rem;
} 

li{
    border-bottom: 1px solid var(--color-main-06);
    margin-bottom: 2rem;
}


@media screen and (min-width: 600px) {
    main{
        width: 600px;
        margin: auto;
    }
    .news{
        display: grid;
        grid-template-columns: 1fr;
    }
    .image{
        width: 180px;
        height: 120px;
    }
    .data-news{
        display: grid;
        grid-template-columns: 180px 1fr;
        gap: 1rem;
    }
}

@media screen and (min-width: 768px) {
    main{
        width: 768px;
        margin: auto;
    }
    .news{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    main{
        width: 1024px;
        margin: auto;
    }
    
}   