@charset "UTF-8";


:root{
    --color-main-01: #154379;
    --color-main-02: #34A0E7;
    --color-main-03: #51A436;
    --color-main-04: #ffffff;
    --color-main-05: #151515;
    --color-main-06: #adadad;
}

main{
    margin: 0 .5rem;
}

.news-link{
    text-decoration: none;
    color: var(--color-main-05);
}

.news{
    list-style: none;
    margin: 1rem;
    margin-top: 2rem;
    padding: 0;
}

.data-news{
    display: grid;
    grid-template-columns: 152px 1fr;
    gap: 1rem;
}

.data-news .infos{
    padding: .25rem;
}
.image{
    width: 152px;
    height: 100px;
    object-fit: cover;
    border-radius: .5rem;

    transition: transform .2s;
}

.image:hover{
    transform: scale(1.05);

}

.author{
    background-color: var(--color-main-02);
    font-size: .75rem;
    padding: .25rem;
    border-radius: .25rem;
}

h3{
    margin: 0;
    margin-top: .675rem;
    font-size: 1rem;
} 

li{
    border-bottom: 1px solid var(--color-main-06);
    margin-bottom: 1.5rem;

    transition: transform .2s;
}

li:hover{
    transform: scale(0.95);
}

.loading{
    text-align: center;
}

.description{
    width: 98%;
}
.description{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

section{
    margin: .5rem;
    margin-top: 1.25rem;
    text-align: center;
}

section p{
    margin: auto;
    width: 100%;
    font-weight: 550;
}

/* .pagination{
    text-align: center;
    margin-bottom: 1.5rem;
}

.pagination button{
    background-color: var(--color-main-02);
    color: var(--color-main-04);
    padding: .5rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
    border: 1px solid var(--color-main-01);
    box-shadow: 0 2px 4px var(--color-main-06);

    transition: background-color .15s, transform .15s;
}
.pagination button:hover{
    background-color: var(--color-main-01);
    color: var(--color-main-04);
    transform: scale(0.95);
} */

@media screen and (min-width: 600px) {
    section{
        width: 600px;
        margin: auto;
        margin-top: 1.25rem;
    }
    main{
        width: 600px;
        margin: auto;
    }
    .news{
        display: grid;
        grid-template-columns: 1fr;
    }
    .image{
        width: 180px;
        height: 120px;
    }
    .data-news{
        display: grid;
        grid-template-columns: 180px 1fr;
        gap: 1rem;
    }
}

@media screen and (min-width: 768px) {
    section{
        width: 768px;
        margin: auto;
        margin-top: 1.25rem;
    }
    main{
        width: 768px;
        margin: auto;
    }
    .news{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    section{
        width: 1024px;
        margin: auto;
        margin-top: 1.25rem;
    }
    main{
        width: 1024px;
        margin: auto;
    }
    
}   